$def with (form, name, clientId)

<!doctype html>

<html>

  <head>
    <title>Squeak!</title>
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    
    <script type="text/javascript" src="static/date.format.js"></script>
    <!--<script type="text/javascript" src="/static/jQuery.js"></script>-->
    <script type="text/javascript" src="static/main.js"></script>
    
  </head>

  <body onLoad="onLoadHandler(); document.chat.messageTextBox.focus()">
    <div id="clientId" style:display="inherit">$clientId</div>
    <p>Logged in as: <span id="userName">$name</span></p>
    <br>
    <form class="form" name="chat" method="post" onSubmit="sendMessage(); return false;">
      $:form.render()
      <input class="button" type="submit" value="send"/>    
    </form>

    <br><br>
    <ul id="messageList">
    </ul>
  </body>
  
</html>
