$def with (form, text)

<!doctype html>

<html>

    <head>
        <title>Squeak!</title>
        <link rel="stylesheet" type="text/css" href="/static/tutorial.css" />
        
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
    </head>

    <body>
        <br>
        <form class="form" method="post"> 
        $:form.render()
        <input class="button" type="submit" value="send"/>    
        </form>

        <br><br>
        <ul id="itemList">
        </ul>
    </body>
    
</html>
